.selectBox {
  @apply text-white text-center w-full h-20 flex items-center justify-center;
  width: 100%;
  font-size: 15px;
}

.selectBoxL {
  @apply pt-1.5 w-2/5 bg-turtle-standard h-10 rounded-l-xl border-solid border-2 border-turtle-standard;
  cursor: pointer;
}
.selectBoxR {
  @apply pt-1.5  w-2/5 text-grey-standard h-10 rounded-r-xl border-solid border-2 border-turtle-standard;
  cursor: pointer;
}
