.root {
  @apply bg-slate-50 container max-w-screen-sm mx-auto;
  width: 390px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.imgbox {
  height: 30.4rem;
}
.profileImg {
  width: 15%;
  margin: auto auto;
}
.infoBox {
  display: flex;
  width: 78%;
  flex-direction: column;
  padding: 2rem;
}
.infoTitle {
  @apply text-lg font-bold;
  font-size: 1.2rem;
  height: 40%;
}
.infoBadge {
  @apply text-sm font-semibold;
  height: 20%;
  margin-top: 1rem;
}
.profileBox {
  @apply rounded-lg p-2 flex;
  height: 7.4rem;
  display: flex;
}

.likeBox {
  width: 7%;
  display: flex;
  justify-content: center;
}

/* 내용 */
.contentBox {
  padding: 1.5rem;
  height: 25.4rem;
  display: flex;
  flex-direction: column;
}
.contentTitle {
  @apply text-lg font-extra-bold;
  font-size: 2.2rem;
  height: 20%;
  border: solid 2px red;
}
.contentCataegory {
  @apply text-base font-bold;
  height: 15%;
  font-size: 1.2rem;
  color: gray;
  border: solid 2px red;
}
.contentDescription {
  height: 70%;
  @apply text-base font-bold;
  border: solid 2px red;
}
.footerBox {
  @apply h-3 w-3;
  background-color: lightgoldenrodyellow;
}
.icon {
  margin: auto auto;
  @apply h-16 w-16;
}
