body {
  @apply bg-slate-300;
}
.px {
  font-size: 10px;
}
.rem {
  font-size: 1rem;
}
.root {
  @apply bg-slate-50 container max-w-screen-sm mx-auto;
  width: 390px;
  height: 84.4rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.imgbox {
  height: 30.4rem;
}
.profileBox {
  background-color: lightblue;
  height: 7.4rem;
}
.contentBox {
  background-color: lightcoral;
  height: 31.4rem;
}
.footerBox {
  background-color: lightgoldenrodyellow;
}
